/* Global 
________________ */
html {
box-sizing:border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}


body  {
		color: #343434;
font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height:1.5;
	

}

body {
	margin: 0;
}
img {
width:300px;
}
.petro a
{
color: yellow;
}
.div > section {
	border-bottom: 1px dashed #343434;
	padding: 20px 0;
}
.div > section:last-of-type
{
border-bottom: none;
}
a {
color: blue;
}
a:hover {
	text-decoration: none;
}
h2 {
	font-size: 45px;
}

h1 {
		font-size: 100px;
	line-height: 1;

}

h1, h2 {
	font-family: 'Caveat', cursive;
	font-weight: 400;
	margin: 0;
}


.wrap {
max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
  background-size: 300px 100px;
}
	
	.headd {
	
	background-image: url(../images/me.jpg);
		background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	}


/* Profile
________________ */
header{
background-color:#272635;
	color:  #F7FFF7;
}




/* Projects
________________ */
.project {
background: #EBCBF4;
background-image: url(../images/ff.jpg);
	background-size: cover;
	background-position: top right;
	
}
.project p {
width: 60%;
}
.project a {
}
.project .btn {
color: white;
	background-color: #584B53;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
}
.project .btn:hover {
	background:rgba(47,48,97,80%);
}
.project-item {
overflow: hidden;
	

}

.project-item h3
{
margin-top: 0;
}

/* work
________________ */

.work {
 background-color: #A1C6D7;
	overflow: hidden;
	border-bottom: 1px dashed #343434;
	padding: 20px 0;
	background-image: url(../images/mm.jpg);
		background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;

}
.work p{
width: 60%;
}



/* education
________________ */




/* Contact
________________ */
footer
{
background-color: #343434;
	color:  #F7FFF7;
	background-image: url(../images/new.jpg);
		background-size: cover;
	background-position: 100% 100%;
	background-repeat: no-repeat;

}
}
footer a
{
color: yellow;
	
}
.contact{
list-style-type: none;
	padding:0;
}
.contact a
{
padding: 15px;
	display: inline-block;
}







@media screen and (min-width: 750px) {
	header, footer {
	text-align:center;
	}
	
	.project-item img {
float: left;
	margin-right: 20px;
}
	
	.contact {
	display: flex;
	justify-content: center;
	}
}
@media screen and  (max-width: 749px) {

h1 {
	font-size: 75px;
	line-height: 0.9;
	margin-bottom: 20px;
	}
 h2 {
		line-height: 1;
	}
	.contact a {
	padding: 5px;
	}
}
